/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif:wght@400;500&display=swap');
:root {
  --demo-slide: #1287a8;
  --primary-slide: #264653;
  --secondary-slide: #2a9d8f;
  --tertiary-slide: #e76f51;
  --thank-slide: #829356;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  font-size: 8rem;
  flex-direction: column;
}

.wrapper--column {
  flex-direction: column;
}

.paragraph {
  font-size: 2rem;
  padding: 0 3rem;
  margin: 1rem auto;
}

.paragraph p {
  margin-bottom: 1rem;
}

.standard-table {
  text-align: left;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.standard-table td,
th {
  padding: 0 1.5rem;
}

.primary-slide {
  background: var(--primary-slide);
}
.secondary-slide {
  background: var(--secondary-slide);
}
.tertiary-slide {
  background: var(--tertiary-slide);
}

.demo-slide {
  background: var(--demo-slide);
}

.thank-slide {
  background: var(--thank-slide);
}

.bubble-indicator {
  background: #4dcdce !important;
}
.capture-indicator {
  background: #53165c !important;
}
.target-indicator {
  background: #c12c22 !important;
}

.navigation {
  position: fixed;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.social-media {
  text-align: center;
}

.social-media .social-media--link {
  text-decoration: none;
  font-size: 2rem;
  margin-right: 1rem;
}

.social-media .social-media--link:last-child {
  margin-right: 0;
}

.social-media-image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.title-designation {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.title-main-header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.title-header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.social-media .social-media--icon {
  width: 2.5rem;
  height: 2.5rem;
}

.item {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.5rem;
  position: relative;
  border-radius: 50%;
  background: #7b6d47;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.active {
  transform: scale(1.9);
}

.active:hover {
  transform: scale(1.9) !important;
}

.item:hover {
  text-decoration: none;
  transform: scale(1.4);
}

.item span {
  opacity: 0;
  /* text-decoration: none;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #7b6d47; */
}

.item:hover .tooltip {
  display: block;
}

.tooltip {
  position: absolute;
  top: 50%;
  right: 105%;
  white-space: nowrap;
  transform: translateY(-50%);
  color: #7b6d47;
  padding: 0.2rem;
  border-radius: 4px;
  z-index: 20;
  font-size: 0.625rem;
  background: #fff;
  display: none;
}

/* Media Query */

@media screen and (max-width: 1024px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }

  .item {
    width: 1rem;
    height: 1rem;
    margin: 1rem;
  }

  .wrapper {
    font-size: 4rem;
  }
}

.social-media-svg {
  width: 250px;
  height: 250px;
}

.link-demo {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.link-demo a a:hover {
  text-decoration: none;
  color: white;
}

.link-demo a {
  text-decoration: none;
  color: white;
}

.project-image {
  width: auto;
  height: 80%;
}
